#q1:hover{
    color: hsl(14, 88%, 65%);
    font-weight: bolder;
    cursor: pointer;
}
#q2:hover{
    color: hsl(14, 88%, 65%);
    font-weight: bolder;
    cursor: pointer;
}
#q3:hover{
    color: hsl(14, 88%, 65%);
    font-weight: bolder;
    cursor: pointer;
}
#q4:hover{
    color: hsl(14, 88%, 65%);
    font-weight: bolder;
    cursor: pointer;
}
#q5:hover{
    color: hsl(14, 88%, 65%);
    font-weight: bolder;
    cursor: pointer;
}